/* 
    Document   : APVS.css
    Created on : 8-Nov-2011
    Author     : Mark Donszelmann
    Description: APVS Styles
*/

root {
    display: block;
}

// Block elastics (in javascript for iOS)
body {
	overflow: hidden;
}

