/* 
    Document   : APVSSupervisor.css
    Created on : 8-Nov-2011
    Author     : Mark Donszelmann
    Description: APVS Supervisor Styles
*/
.apvs-title {
	color: #000099;
	font-family: arial;
	font-weight: bold;
	font-size: 48pt;
}