/* 
    Document   : ATWSS.css
    Author     : Mark Donszelmann
*/

/*
   Overrides of bootstrap
*/

/*
  get the right side within the margins
*/
@media ( min-width : 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
}

.no-margins {
	margin: -15px;
}

.no-resize {
	resize: none;
}

.hi-limit {
	background: #AA4643;
	color: white;
}

.lo-limit {
	background: #AA4643;
	color: white;
}

.in-range {
}



.alarm button {
	background: #AA4643;
	color: white;
}

.cleared button {
	background: green;
	color: white;
}

.unknown button {
	background: yellow;
	color: black;
}

.footer-left {
	float: left;
	text-align: left;
	margin: 0 20px;
	color: #000000;
	font-size: 12px;
	line-height: 35px;
}


.fail {
	background: #AA4643;
	color: white;
}

.unknown {
	background: yellow;
	color: black;
}

.ok {
	background: green;
	color: white;
}

.online {
	background: green;
	color: white;
}

.offline {
	background: #AA4643;
	color: white;
}
